@keyframes see_menu {
    0% {
              transform: translateX(-100%);
    }
    100% {
              transform: translateX(0px);
    }
}

@keyframes hide_menu {
    0% {
              transform: translateX(0px);
    }
    100% {
              transform: translateX(-100%);
    }
}

.menu {
    z-index: 100;
    position: fixed;
    background: var(--Shadow);
    color: var(--White);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: see_menu 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    &_content {
      width: 90%;
      background: var(--Dark-Grey);
      border-right: 1px solid var(--Black);
      height: 100%;
      color: var(--Light-Grey);

      h2 {
        font-weight: 300;
        text-align: center;
        color: var(--Medium-Grey);
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          display: block;
          margin: 0;
          text-align: center;
          font-size: 28px;
          margin: 10px 0px;
          font-weight: 600;
          color: var(--White);
        }
      }

      &_list {
        font-size: 20px;
        padding-left: 0;

        .list_item {
          list-style: none;
          padding: 5px 5px;
          cursor: pointer;

          &:hover {
            border-left: 5px solid var(--Blue);
            background: var(--Dark-Grey);
          }
        }
      }
    }
  }