@keyframes see_filters {
  0% {
            transform: translateY(-100%);
  }
  100% {
            transform: translateY(0px);
  }
}

@keyframes hide_filters {
  0% {
            transform: translateY(0px);
  }
  100% {
            transform: translateY(-100%);
  }
}

.navbar {
    z-index: 10;
    background: var(--Light-Grey);
    color: var(--Dark-Grey);
    border-bottom: 1px solid var(--Dark-Grey);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: height .2s ease-in-out;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-weight: 400;
        margin: 0;
      }
    }
  }

  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--Shadow);
    animation: see_filters 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    z-index: 1;

    p {
      opacity: 0.6;
      position: absolute;
      bottom: 5vh;
      text-align: center;
      width: 100%;
      font-size: 24px;
      color: var(--White);
      text-shadow: 0px 1px 40px var(--Black), 0px 1px 5px var(--Black);
      text-transform: uppercase;
    }
  }